//CSS for User Chtabot Tab Component

$colorEsquema: dodgerblue;

.row-forecasts{
  .icon-forecasts{
    color:$colorEsquema;
    font-size:20px;
  }
  ion-col:not(.col-day-of-week-forecasts){
    text-align:center;
  }
  font-size:15px;
  margin-top: 5px;
  border-top:solid 1px lightgrey;
}

.col-hourly-forecasts, .row-container-hourly-forecasts{
  ion-icon{
    color:$colorEsquema;
    font-size:25px;
  }
  text-align:center;
}

.row-hourly-forecast{
  margin-top: 5px;
}

.centigrade-symbol{
  font-size:11px;
}

.location-content{
  position: absolute;
  top:20%;
  right:25%;
  color:white;
}

$sizeTemp:20px;
$sizeDate:15px;

.location-city-name{
  font-size:30px;
  font-color:lightgrey;
  font-family:"Arial";
  font-weight: bold;
}
.location-avg-temp {
  font-size: $sizeTemp;
  font-weight: bold;
}

.location-max-min-temps{
  font-size:$sizeDate;
}

.my-cities-element{
  text-align:center;
  font-size:15px;
  font-family:"Arial";
}
.cities-slider{
  position: relative;
  width:100%;
  height:10%;
}


.cityClicked{
    background-color: $colorEsquema;
    color:white;
    font-weight: bold;
    border-radius:4px;
}


.my-location-button{
  position: relative;
  top:-10px;
  width: 100%;
}
.add-city-button{
  position: relative;
  top:-10px;
  width: 100%;
}

.ion_grid_forecasts{
  position: relative;
  top:-10px;
}

#gif-loading{
  position:absolute;
  width:100%;
  left:-1%;
  z-index: 10000;
}

#gif-loading-container{
  position:absolute;
  width:100%;
  height:110%;
  z-index: 10000;
  left:-0.3%;
  background-color: white;
  top:2%;
  //TODO: comment in prod
  display:none
}

#message{
  position:absolute;
  z-index: 10000;
  color:$colorEsquema;
  font-size:20px;
  top:50%;
  left:20%;
  font-weight:bold;

}

.x{
  display: none;
}
.y{
  display: flex;
}