//CSS for Administrator Statistics Component

.mapFrame{
	position:relative;
	left:25%;
	width:50%;
	top:15px;
	box-shadow: 10px 10px 50px #888888;
}
.endB{
	position:relative;
	padding-left:45%;
	padding-top:15px;
	padding-bottom:15px;
}

.row-stats{
	text-align:center;
}

.stat-data-column{
	position: relative;
	top:-20px;
	font-size: 25px;
	color:$colorEsquema;
	font-weight: bold;
}

ion-grid{
	position: relative;
	top:10px;
}