//CSS for Administrator Statistics Component

.mapFrame{
	position:relative;
	padding-left:33%;
	padding-top:15px;
}
.endB{
	position:relative;
	padding-left:45%;
	padding-top:15px;
	padding-bottom:15px;
}

.row-stats{
	text-align:center;
}