<!--Administrator Account Detail Tab Component HTML Structure-->
<ion-content>

    <navbar></navbar>
    <div>


        <ion-grid>
            <ion-title><h2>Account information</h2></ion-title>
            <ion-col *ngFor="let x of info; let i = index" class="profileInfo">
                <ion-col *ngIf="i==0">
                    <ion-row>
                        Username: {{x.username}}
                    </ion-row>
                    <ion-row>
                        Password: {{x.password}}
                    </ion-row>
                    <ion-row>
                        <ion-buttons end>
                        <button ion-button (click)="addMarker()" class="editButton">Edit</button>
                        </ion-buttons>
                    </ion-row>
                </ion-col>
            </ion-col>

        </ion-grid>
    </div>

</ion-content>