//CSS for Administrator User Control Component

.row-users{
  ion-col{
    text-align:center;
  }

 .searchBarGrid{
 	align:center;
 }
  font-size:15px;
  margin-top: 2px;
  border-top:solid 1px lightgrey;
}