//CSS for Login Component
.titulo_bot_cast{
	color: dodgerblue;
	font-size: 20px;
	text-align:center;
}
.botcast_icon{
	align:center;
	padding-left: 35%;
}

.contenedorCamposLogin ion-item{
	margin-bottom: 0px;

}

.submit-btn{
	width:70%;
	left:15%;
}

.signup-col{
	text-align: center;
}

ion-grid{
	position: relative;
	top:10%;
}