<!--Chatbot User Tab Component HTML Structure-->
<ion-content padding>
    <div class="contenedor_conversacion">
        <ion-grid>
            <ion-row *ngFor="let message of conversation; let i = index">
                <ion-row *ngIf="i%2==0" col-12>
                    <ion-col col-1>
                        <ion-icon name="md-contact" class="icon-user-chatbot"></ion-icon>
                    </ion-col>
                    <ion-col class="user-message-content">
                        {{message.content}}
                    </ion-col>
                    <ion-col col-4></ion-col>
                </ion-row>
                <ion-row *ngIf="i%2!=0" col-12>
                    <ion-col col-4></ion-col>
                    <ion-col class="bot-message-content">
                        {{message.content}}
                    </ion-col>
                    <ion-col col-1>
                        <ion-icon name="md-cloud"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>