<!--Chatbot User Tab Component HTML Structure-->

<ion-header>
    <ion-navbar>
        <ion-title>Botcast</ion-title>
        <button ion-button="" (click)="changeMockIsBot()">MockBot</button>
    </ion-navbar>
</ion-header>

<ion-content padding class="yo">
    <div class="contenedor_conversacion">
        <ion-grid>
            <ion-row *ngFor="let message of conversation; let i = index">
                <ion-row *ngIf="message.isBotMessage == false" col-12>
                    <ion-col col-1>
                        <ion-icon name="ios-contact-outline" class="icon-user-chatbot"></ion-icon>
                    </ion-col>
                    <ion-col class="user-message-content">
                        {{message.content}}
                    </ion-col>
                    <ion-col col-4></ion-col>
                </ion-row>
                <ion-row *ngIf="message.isBotMessage == true" col-12>
                    <ion-col col-4></ion-col>
                    <ion-col class="bot-message-content">
                        {{message.content}}
                    </ion-col>
                    <ion-col col-1>
                        <ion-icon name="ios-ionitron-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-input placeholder="Say something..." class="mensaje-caja-texto" [(ngModel)] = "userInput" type="text"></ion-input>
<button ion-button class="boton-enviar-mensaje" (click)="sendMessage($event)">Send</button>