//CSS for User Chtabot Tab Component
$border-radius:10px;
$colorEsquema: dodgerblue;

ion-icon{
  font-size:30px;
}

.user-message-content{
  text-align: left;
  border:0px solid rgba(45,45,45,0.4);
  border-radius:$border-radius;
  background-color: dodgerblue;
  color:white;
  position: relative;
  left:15px;
}

.bot-message-content{
  text-align: right;
  border:0px solid black;
  border-radius:$border-radius;
  background-color: #EAEAEA;
  position: relative;
  right:5px;
}

.mensaje-caja-texto{
  position:relative;
  width:70%;
  left:5%;
  top:80%;
  z-index:10000;
  border:2px solid $colorEsquema;
}

.boton-enviar-mensaje{
  position:relative;
  height: 7.5%;
  width:19%;
  left:76%;
  top:480px;
  z-index:10000;
  border-radius: 0px;
}

.yo{
  z-index:-200;
}

.contenedor_conversacion{
  position: relative;
  height:90%;
  overflow: hidden;
  overflow-y: scroll;
}

ion-content{
  overflow: hidden;
}