$border-radius:10px;
$colorEsquema: dodgerblue;

ion-icon{
  font-size:30px;
}

.user-message-content{
  text-align: left;
  border:1px solid rgba(45,45,45,0.4);
  border-radius:$border-radius;
  background-color: dodgerblue;
  font-weight:bold;
  color:white;
}

.bot-message-content{
  text-align: right;
  border:1px solid black;
  border-radius:$border-radius;
  background-color: lime
}